<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".raduis.RadiusActivity"
            android:exported="true" />
        <activity
            android:name=".tablayout.TabLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".exception.ExceptionActivity"
            android:exported="false"
            android:process=":exception" />
        <activity
            android:name=".hotfix.MainActivityHotfix"
            android:exported="true" />
        <activity
            android:name=".slide.SlideActivity"
            android:exported="true" />
        <activity
            android:name=".jiagou.mvvm.MvvmActivity"
            android:exported="false" />
        <activity
            android:name=".jiagou.mvc.MvcActivity"
            android:exported="false" />
        <activity
            android:name=".jiagou.mvp.MvpActivityView"
            android:exported="false" />
    </application>

</manifest>